<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    <h1>TouhouChain</h1>
    <p>Base on Flask</p>
    <p>bete 0.0.1</p>
    <a href="https://github.com/wangbar0133/TouhouChain_whitebook">https://github.com/wangbar0133/TouhouChain_whitebook</a>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/account/">搜索账户</a>
    <a href="http://127.0.0.1:5000/createaccount/">创建账户</a>
    <a href="http://127.0.0.1:5000/mine/">挖矿</a>
    <a href="http://127.0.0.1:5000/tran/">交易</a>
</body>
</html>